
<div class="single-product-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="product-content-right">
					<form action="/checkout" class="checkout" method="post" name="checkout">
						<div id="customer_details" class="col2-set">
							<div class="row">
								<div class="col-md-12">


									<div class="woocommerce-billing-fields">
										<h3>Registre o Nome</h3>
										<p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
											<label class="" for="billing_address_1">Nome: <abbr title="required" class="required"></abbr>
											</label>
                                            <input type="text" value="{$name.deszipcode}" placeholder="Digite aqui o nome" id="billing_address_1" name="zipcode" class="input-text ">
                                            <input type="submit" value="Inserir Nome" id="place_order" class="button alt" formaction="/checkout" formmethod="get">
										</p>
										
										<div class="clear"></div>
		
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>