<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Editar Senha do Usuário
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Senha do Usuário</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        {if="$msgError != ''"}
        <div class="alert alert-danger alert-dismissible" style="margin:10px">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>{$msgError}</p>
        </div>
        {/if}
        {if="$msgSuccess != ''"}
        <div class="alert alert-success alert-dismissible" style="margin:10px">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>{$msgSuccess}</p>
        </div>
        {/if}
          
          <!-- /.box-body -->
          <div class="box-footer">
              <a href="/admin/users">
                <button class="btn btn-primary" onclick="history.go(-1)">Voltar</button>
              </a>  
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->